# deps
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
supabase/.branches
supabase/.temp

# OS
.DS_Store
Thumbs.db
